.cb-subnav {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.cb-hm-mnu-itm {
    padding: 16px 6px 11px;
    color: #fff;
    display: inline-block;
}
/* user agent stylesheet */
/* div {
    display: block;
    unicode-bidi: isolate;
} */
body {
    background: #0a0c0a;
    font-family: helvetica, "Segoe UI", Arial, sans-serif;
    color: #222;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}
.text-white {
    color: #fff;
}
a, a:hover, a:active, a:focus {
    outline: medium none;
}
a {
    text-decoration: none;
    color: #222;
}
/* user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
} */
.cb-caret-up, .cb-caret-down {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    margin-bottom: 1px;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.cb-caret-down {
    border-top: 4px solid;
}
.cb-subnav .cb-sub-navigation {
    display: none;
    position: absolute;
}
.cb-sub-navigation {
    margin: 11px 0 0 -8px;
    background: #f5f5f5;
    min-width: 160px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.cb-subnav-item {
    display: block;
    color: #222;
    padding: 6px 15px;
    white-space: nowrap;
}
a, a:hover, a:active, a:focus {
    outline: medium none;
}
a {
    text-decoration: none;
    color: #222;
}